<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All products</title>
</head>
<body>
<h1>Products list:</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Created</th>
        <th>Updated</th>
    </tr>
    <tr th:each="product : ${products} ">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.created}"></td>
        <td th:text="${product.updated}"></td>
        <td>
            <a th:href="@{/product/edit/{id}(id=${product.id})}">Edit</a>
            <form th:action="@{/product/delete}" method="post" style="display:inline;">
                <input type="hidden" name="productsId" th:value="${product.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<a th:href="@{/product/create}">Create New Product</a>
</body>
</html>